@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400&family=Work+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFBF3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #F4C782;
}

/* Navigation */
.sunnie-logo {
  margin: .75em;
}

.logout-btn {
  border-radius: 5em;
  color:#3A291E !important;
  font-weight: 600;
  text-transform: uppercase;
  margin: 2em;
}

/* Text Styles */
h1 {
  font-family: 'Fraunces', serif;
  font-weight: 300;
  line-height: 1em;
  text-transform: none;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #f75e38;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  color: #f75e38;
}

/* Homepage */
.homepage-card {
  background-color: #FDE5BE;
  border: 0px;
  padding: 1em;
  margin: 1em;
}

.homepage-h1 {
  font-size: 5em;
}

.homepage-hello {
  font-weight: 400;
}

/* User Profile Details */
.userProfilePicture {
  background-color: #f75e38;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

/* Quiz */
.answer-section {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.answer {
  margin: .25em;
}

.question-count {
  float: right;
}

/* Product */
.product-img {
  width: 100%;
  height: 100%
}

.favorite-btn {
  float: right;
}

/* Community */
.community-cardList {
  display: flex;
  flex-wrap: wrap;
}

.community-card {
  background-color: #FDE5BE;
  display: flex;
  justify-content: space-evenly;
  margin: .25em;
}

.community-card:hover {
  background-color:#f79c6493;
}

.community-name {
  color:#3A291E;
}

/* .community-name:hover {
  color:#E25632;
} */

a:hover {
  text-decoration: none;
}

/* React Bootstrap Components */
.container {
  padding: 2em;
}

#button {
  background-color: #E25632;
  border: 0px;
  border-radius: 2em;
}

#button:hover {
  background-color: #c43d1c;
}

#button:active {
  background-color: #c43d1c;
}

#button:focus {
  background-color: #c43d1c;
}


/* .btn-primary {
  background-color: #E67C3B;
  border-color: #E67C3B;
  color: #fff;
}

.btn-primary:hover {
  background-color: #E25632;
  border-color: #E25632;
  color: #fff;
} */

.btn-primary:active {
  background-color: green;
  border-color: green;
  color: #fff;
}

.nav-bar-link-container {
  display: flex;
}

.nav-link {
  color: #3A291E;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  flex-direction: row;
  margin: .25em;
} 

.nav-link:active {
  color: #E25632;
}

/* Font awesome */
svg.svg-inline--fa.fa-heart.fa-w-16 {
  color: red;
}

